/* screen - filter-checked */

.border-1px-bon-jour {
  border: 1px solid var(--bon-jour);
}
.border-1px-white {
  border: 1px solid var(--white);
}
.filter-checked {
  background-color: var(--white);
  height: 674px;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.filter-checked .brand-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 346px;
  width: auto;
}
.filter-checked .button-primary-default-C61RwL {
  background-color: transparent;
  border-radius: 8px;
  height: 53px;
  left: 15px;
  position: absolute;
  top: 592px;
  width: 345px;
}
.filter-checked .button-primary-default-GsrA0Q {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 177px;
}
.filter-checked .button-text-i4001843981537-GsrA0Q {
  background-color: transparent;
  color: var(--white);
  font-family: 'Karla', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 148px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: auto;
}
.filter-checked .category-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 294px;
  width: auto;
}
.filter-checked .check-Abi9n9 {
  background-color: transparent;
  border-radius: 3px;
  height: 18px;
  left: -1px;
  overflow: hidden;
  position: relative;
  top: -1px;
  width: 18px;
}
.filter-checked .check-QTyxKA {
  background-color: transparent;
  background-image: url(../img/check-2@2x.svg);
  background-size: 100% 100%;
  border-radius: 3px;
  height: 18px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 18px;
}
.filter-checked .check-WOcTCO {
  background-color: transparent;
  border-radius: 3px;
  height: 18px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 18px;
}
.filter-checked .check-wxUdiY {
  background-color: transparent;
  background-image: url(../img/check-2@2x.svg);
  background-size: 100% 100%;
  border-radius: 3px;
  height: 18px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 18px;
}
.filter-checked .color-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 398px;
  width: auto;
}
.filter-checked .features-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 101px;
  width: auto;
}
.filter-checked .filter-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Manrope', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  height: 27px;
  left: 161px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 25px;
  width: auto;
}
.filter-checked .free-shipping-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 49px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 141px;
  width: auto;
}
.filter-checked .group-1512-QTyxKA {
  background-color: transparent;
  background-image: url(../img/rectangle-346-1@2x.svg);
  background-size: 100% 100%;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.filter-checked .group-1512-WOcTCO {
  background-color: transparent;
  border: 1px solid var(--pixie-powder);
  border-radius: 3px;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.filter-checked .group-1619-C61RwL {
  background-color: transparent;
  height: 18px;
  left: 20px;
  position: absolute;
  top: 140px;
  width: 18px;
}
.filter-checked .group-1620-C61RwL {
  background-color: transparent;
  height: 18px;
  left: 20px;
  position: absolute;
  top: 179px;
  width: 18px;
}
.filter-checked .icon-dropdown-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 330px;
  position: absolute;
  top: 242px;
  transform: rotate(-90.00deg);
  width: 24px;
}
.filter-checked .icon-dropdown-QxM5SU {
  background-color: transparent;
  height: 24px;
  left: 330px;
  position: absolute;
  top: 399px;
  transform: rotate(-90.00deg);
  width: 24px;
}
.filter-checked .icon-dropdown-VMr6Om {
  background-color: transparent;
  height: 24px;
  left: 330px;
  position: absolute;
  top: 294px;
  transform: rotate(-90.00deg);
  width: 24px;
}
.filter-checked .icon-dropdown-mzXdH9 {
  background-color: transparent;
  height: 24px;
  left: 330px;
  position: absolute;
  top: 347px;
  transform: rotate(-90.00deg);
  width: 24px;
}
.filter-checked .line-19-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 276px;
  width: 375px;
}
.filter-checked .line-20-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 328px;
  width: 375px;
}
.filter-checked .line-21-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 380px;
  width: 375px;
}
.filter-checked .line-22-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 432px;
  width: 375px;
}
.filter-checked .line-23-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 224px;
  width: 375px;
}
.filter-checked .max-C61RwL {
  background-color: transparent;
  color: rgba(0,0,0,0.23);
  font-family: 'Karla', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 16px;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 517px;
  width: auto;
}
.filter-checked .min-C61RwL {
  background-color: transparent;
  color: rgba(0,0,0,0.23);
  font-family: 'Karla', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 16px;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 517px;
  width: auto;
}
.filter-checked .new-with-tags-nwt-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 180px;
  width: auto;
}
.filter-checked .price-range-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 458px;
  width: auto;
}
.filter-checked .rectangle-384-C61RwL {
  background-color: transparent;
  border: 0.3px solid var(--black);
  border-radius: 5px;
  height: 31px;
  left: 19px;
  position: absolute;
  top: 509px;
  width: 146px;
}
.filter-checked .rectangle-385-C61RwL {
  background-color: transparent;
  border: 0.3px solid var(--black);
  border-radius: 5px;
  height: 31px;
  left: 210px;
  position: absolute;
  top: 509px;
  width: 146px;
}
.filter-checked .size-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 241px;
  width: auto;
}
.filter-checked .vector-0F6Ap9 {
  background-color: transparent;
  height: 1px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 1px;
}
.filter-checked .vector-0sXfgr {
  background-color: transparent;
  height: 11px;
  left: 2px;
  position: absolute;
  top: 4px;
  width: 14px;
}
.filter-checked .vector-11-C61RwL {
  background-color: transparent;
  height: 10px;
  left: -4px;
  position: absolute;
  top: 76px;
  width: 383px;
}
.filter-checked .vector-3kfnrv {
  background-color: transparent;
  height: 1px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 1px;
}
.filter-checked .vector-4-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 182px;
  position: absolute;
  top: 524px;
  width: 11px;
}
.filter-checked .vector-412M3r {
  background-color: transparent;
  height: 15px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 15px;
}
.filter-checked .vector-4lfWTL {
  background-color: transparent;
  height: 19px;
  left: 7px;
  position: absolute;
  top: 2px;
  transform: rotate(90.00deg);
  width: 10px;
}
.filter-checked .vector-74sJxh {
  background-color: transparent;
  height: 19px;
  left: 7px;
  position: absolute;
  top: 2px;
  transform: rotate(90.00deg);
  width: 10px;
}
.filter-checked .vector-7EcLVs {
  background-color: transparent;
  height: 1px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 1px;
}
.filter-checked .vector-BmnOtF {
  background-color: transparent;
  height: 19px;
  left: 7px;
  position: absolute;
  top: 2px;
  transform: rotate(90.00deg);
  width: 10px;
}
.filter-checked .vector-HclxNC {
  background-color: transparent;
  height: 15px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 15px;
}
.filter-checked .vector-KJMOgG {
  background-color: transparent;
  height: 1px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 1px;
}
.filter-checked .vector-RH7fJx {
  background-color: transparent;
  height: 11px;
  left: 2px;
  position: absolute;
  top: 4px;
  width: 14px;
}
.filter-checked .vector-TxssRv {
  background-color: transparent;
  height: 19px;
  left: 7px;
  position: absolute;
  top: 2px;
  transform: rotate(90.00deg);
  width: 10px;
}
.filter-checked .vector-giAKgQ {
  background-color: transparent;
  height: 11px;
  left: 2px;
  position: absolute;
  top: 4px;
  width: 14px;
}
.filter-checked .vector-mmS1IE {
  background-color: transparent;
  height: 15px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 15px;
}
.filter-checked .vector-pr9M1i {
  background-color: transparent;
  height: 15px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 15px;
}
.filter-checked .vector-reNHbN {
  background-color: transparent;
  height: 11px;
  left: 2px;
  position: absolute;
  top: 4px;
  width: 14px;
}
.filter-checked .x-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 329px;
  overflow: hidden;
  position: absolute;
  top: 26px;
  width: 24px;
}
.filter-checked .x-VMr6Om {
  background-color: transparent;
  height: 24px;
  left: 329px;
  overflow: hidden;
  position: absolute;
  top: 26px;
  width: 24px;
}
.karla-bold-black-14px {
  color: var(--black);
  font-family: 'Karla', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.karla-bold-black-16px {
  color: var(--black);
  font-family: 'Karla', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.karla-normal-black-14px {
  color: var(--black);
  font-family: 'Karla', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.karla-normal-black-16px {
  color: var(--black);
  font-family: 'Karla', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.karla-normal-dove-gray-14px {
  color: var(--dove-gray);
  font-family: 'Karla', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.karla-normal-pixie-powder-14px {
  color: var(--pixie-powder);
  font-family: 'Karla', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.karla-normal-star-dust-14px {
  color: var(--star-dust);
  font-family: 'Karla', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.karla-normal-white-16px {
  color: var(--white);
  font-family: 'Karla', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.sfprodisplay-regular-normal-white-15px {
  color: var(--white);
  font-family: 'SF Pro Display-Regular', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.sfprotext-regular-normal-black-22-5px {
  color: var(--black);
  font-family: 'SF Pro Text-Regular', Helvetica;
  font-size: 22.5px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --black: rgba(0,0,0,1.0);
  --bon-jour: rgba(223,223,223,1.0);
  --chicago: rgba(87,87,87,1.0);
  --coconut: rgba(252,252,254,1.0);
  --dove-gray: rgba(111,111,111,1.0);
  --pixie-powder: rgba(53,22,138,1.0);
  --star-dust: rgba(157,157,157,1.0);
  --white: rgba(255,255,255,1.0);
}
