/* screen - mens-recents */

.border-1px-bon-jour {
  border: 1px solid var(--bon-jour);
}
.border-1px-white {
  border: 1px solid var(--white);
}
.karla-bold-black-14px {
  color: var(--black);
  font-family: 'Karla', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.karla-bold-black-16px {
  color: var(--black);
  font-family: 'Karla', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.karla-normal-black-14px {
  color: var(--black);
  font-family: 'Karla', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.karla-normal-black-16px {
  color: var(--black);
  font-family: 'Karla', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.karla-normal-dove-gray-14px {
  color: var(--dove-gray);
  font-family: 'Karla', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.karla-normal-pixie-powder-14px {
  color: var(--pixie-powder);
  font-family: 'Karla', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.karla-normal-star-dust-14px {
  color: var(--star-dust);
  font-family: 'Karla', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.karla-normal-white-16px {
  color: var(--white);
  font-family: 'Karla', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.mens-recents {
  background-color: var(--white);
  height: 202px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 542px;
}
.mens-recents .blue-nikes-size-10-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 141px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 154px;
  width: auto;
}
.mens-recents .ellipse-293-Tmp5mx {
  background-color: transparent;
  height: 44px;
  left: -4px;
  position: absolute;
  top: -5px;
  width: 44px;
}
.mens-recents .ellipse-294-VSVPT3 {
  background-color: transparent;
  height: 44px;
  left: -4px;
  position: absolute;
  top: -5px;
  width: 43px;
}
.mens-recents .ellipse-294-a8mHAx {
  background-color: transparent;
  height: 44px;
  left: -4px;
  position: absolute;
  top: -5px;
  width: 44px;
}
.mens-recents .ellipse-294-ghyN4a {
  background-color: transparent;
  height: 44px;
  left: -4px;
  position: absolute;
  top: -6px;
  width: 44px;
}
.mens-recents .ellipse-5-C61RwL {
  background-color: transparent;
  height: 9px;
  left: 175px;
  position: absolute;
  top: 228px;
  width: 8px;
}
.mens-recents .ellipse-6-C61RwL {
  background-color: transparent;
  height: 9px;
  left: 195px;
  position: absolute;
  top: 228px;
  width: 9px;
}
.mens-recents .ellipse-7-C61RwL {
  background-color: transparent;
  height: 9px;
  left: 215px;
  position: absolute;
  top: 228px;
  width: 9px;
}
.mens-recents .group-1549-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 98px;
  position: absolute;
  top: 12px;
  width: 35px;
}
.mens-recents .group-1550-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 229px;
  position: absolute;
  top: 12px;
  width: 35px;
}
.mens-recents .group-1551-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 368px;
  position: absolute;
  top: 12px;
  width: 35px;
}
.mens-recents .group-1552-C61RwL {
  background-color: transparent;
  height: 35px;
  left: 498px;
  position: absolute;
  top: 12px;
  width: 35px;
}
.mens-recents .group-1553-C61RwL {
  background-color: transparent;
  height: 44px;
  left: 224px;
  position: absolute;
  top: 7px;
  width: 44px;
}
.mens-recents .hardly-used-af1-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 276px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 154px;
  width: auto;
}
.mens-recents .jeans-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 154px;
  width: auto;
}
.mens-recents .rectangle-363-C61RwL {
  background-color: transparent;
  height: 124px;
  left: 4px;
  position: absolute;
  top: 23px;
  width: 126px;
}
.mens-recents .rectangle-364-C61RwL {
  background-color: transparent;
  height: 124px;
  left: 137px;
  position: absolute;
  top: 23px;
  width: 126px;
}
.mens-recents .rectangle-365-C61RwL {
  background-color: transparent;
  height: 124px;
  left: 270px;
  position: absolute;
  top: 23px;
  width: 126px;
}
.mens-recents .rectangle-401-C61RwL {
  background-color: transparent;
  height: 124px;
  left: 402px;
  position: absolute;
  top: 23px;
  width: 126px;
}
.mens-recents .red-beanie-nwt-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 407px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 154px;
  width: auto;
}
.mens-recents .vector-Tmp5mx {
  background-color: transparent;
  height: 13px;
  left: 10px;
  position: absolute;
  top: 12px;
  width: 15px;
}
.mens-recents .vector-VSVPT3 {
  background-color: transparent;
  height: 13px;
  left: 11px;
  position: absolute;
  top: 12px;
  width: 14px;
}
.mens-recents .vector-a8mHAx {
  background-color: transparent;
  height: 13px;
  left: 10px;
  position: absolute;
  top: 12px;
  width: 15px;
}
.mens-recents .vector-ghyN4a {
  background-color: transparent;
  height: 13px;
  left: 10px;
  position: absolute;
  top: 12px;
  width: 15px;
}
.mens-recents .x100-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 331px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-decoration: line-through;
  top: 171px;
  width: auto;
}
.mens-recents .x1000-C61RwL {
  background-color: transparent;
  height: 20px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 170px;
  white-space: nowrap;
  width: auto;
}
.mens-recents .x1800-C61RwL {
  background-color: transparent;
  height: 20px;
  left: 141px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 170px;
  white-space: nowrap;
  width: auto;
}
.mens-recents .x2000-C61RwL {
  background-color: transparent;
  height: 20px;
  left: 274px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 170px;
  white-space: nowrap;
  width: auto;
}
.mens-recents .x25-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 462px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-decoration: line-through;
  top: 171px;
  width: auto;
}
.mens-recents .x500-C61RwL {
  background-color: transparent;
  height: 20px;
  left: 411px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 170px;
  white-space: nowrap;
  width: auto;
}
.mens-recents .x70-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 198px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-decoration: line-through;
  top: 171px;
  width: auto;
}
.mens-recents .x85-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 62px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-decoration: line-through;
  top: 171px;
  width: auto;
}
.sfprodisplay-regular-normal-white-15px {
  color: var(--white);
  font-family: 'SF Pro Display-Regular', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.sfprotext-regular-normal-black-22-5px {
  color: var(--black);
  font-family: 'SF Pro Text-Regular', Helvetica;
  font-size: 22.5px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --black: rgba(0,0,0,1.0);
  --bon-jour: rgba(223,223,223,1.0);
  --chicago: rgba(87,87,87,1.0);
  --coconut: rgba(252,252,254,1.0);
  --dove-gray: rgba(111,111,111,1.0);
  --pixie-powder: rgba(53,22,138,1.0);
  --star-dust: rgba(157,157,157,1.0);
  --white: rgba(255,255,255,1.0);
}
